
/*====================*/
/*=== Nivo Slider  ===*/
/*====================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-weight:inherit;
	font-style:inherit;
	font-size:100%;
	font-family:inherit;	
	max-width:80%; 
	max-height:80%;

}

table {
	border-collapse:separate;
	border-spacing:0;
}
caption, th, td {
	text-align:left;
	font-weight:normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content:"";
}
blockquote, q {
	quotes:"" "";
}
/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
	display: block;
}

a, a:visited {
	color:blue;
	text-decoration:none;
}
a:hover, a:active {
	color:#000;
	text-decoration:none;
}

.theme-default #slider {
    margin:0 auto 0 auto;
    width:500px; /* Make sure your images are the same size */
    height:460px; /* Make sure your images are the same size */
}
.theme-pascal.slider-wrapper,
.theme-orman.slider-wrapper {
    margin-top:0px;
}

/*====================*/
/*=== Other Styles ===*/
/*====================*/
.clear {
	clear:both;
}

/*Existing*/
body
{
	background-repeat:repeat-x;
	line-height:1;
	color:black;
	font-family: Verdana, Arial;
}

.Txt_Black_Normal
{
    FONT-SIZE: 13px;
    COLOR: #383838;
}

.Txt_Black_Content
{
    FONT-SIZE: 13px;
    COLOR: #383838;
    font-weight: none;
    text-align:justify;
}

.Txt_Black_Small
{
    FONT-SIZE: 10px;
    COLOR: #383838;
}

.Txt_White_Normal
{
    FONT-SIZE: 11px;
    COLOR: #FFFFFF;
    font-weight: none;
}
.Txt_White_Bold
{
    FONT-SIZE: 13px;
    COLOR: #FFFFFF;
    font-weight: bold;
    line-height: 1.6;
}
.Txt_MainHeader_Normal
{
    FONT-SIZE: 18px;
    COLOR: #aa7047;
    font-weight: none;
}
.Txt_MainHeader_Bold
{
    FONT-SIZE: 20px;
    COLOR: #aa7047;
    font-weight: bold;
}
A
{
    COLOR: #000000;
    TEXT-DECORATION: none
}
A:hover
{
    COLOR: #90ad3f
}

h1,h2,h3,h4,h5,h6{
margin-top: 0px;
margin-bottom: 0px;
padding-top: 0px;
padding-bottom: 0px;
}
